<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="index_body">
    <header>
    </header>
    <main class="index_main">
      <section class="index_section">
        <h1> formulario</h1>
        <form action="">
          <div>
            <label for="">Ingrese su nombre</label>
            <input type="text">
            <small></small>
          </div>
          <div>
            <label for="">Ingrese su email</label>
            <input type="email">
            <small></small>
          </div>
          <div>
            <label for="">Ingrese su edad</label>
            <input type="number">
          </div>
          <div>
            <button type="submit">ENVIAR</button>
          </div>
          <div>
            <select name="" id="">
              <option value="azul">azul</option>
              <option value="amarillo">amarillo</option>
              <option value="verde">verde</option>
            </select>
          </div>

        </form>


      </section>
    </main>

  </body>
</html>
