<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="index_body">
    <header class="index_header">
      <h1>SECCION & COOKIES</h1>
    </header>
    <main class="index_main">
      <section class="index_section">
        <h1> formulario</h1>
        <form action="">
          <div class="form_cont">
            <label for="name">Ingrese su nombre</label>
            <input class="form_input" type="text" id="name" autocomplete="off">
            <small></small>
          </div>
          <div class="form_cont">
            <label for="email">Ingrese su email</label>
            <input class="form_input" type="email" id="email" autocomplete="off">
            <small></small>
          </div>
          <div class="form_cont">
            <label for="edad">Ingrese su edad</label>
            <input class="form_edad" type="number" id="edad">
          </div>
           <div class="form_cont">
            <label for=""> Color</label>
            <select name="" id="">
              <option value="red">ROJO</option>
              <option value="green">VERDE</option>
              <option value="blue">AZUL</option>
            </select>
          </div>
          <div class="button_cont">
            <button class="Boton" type="submit">ENVIAR</button>
          </div>
        </form>

      </section>
    </main>

  </body>
</html>
