<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="index_body">
    <header class="index_header">
      <h1>SECCION & COOKIES</h1>
    </header>
    <main class="index_main">
      <section class="index_section">


        <h1 class="" > MENSAJE</h1>
        
        

      </section>
    </main>

  </body>
</html>
